.porftolio_div{
    .portfolio_img_div{
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        overflow: hidden;

        .portfolio_img_control{
            @include flex(row, space-around, center);
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: $light_blue;
            opacity: 0%;
            z-index: -99;
            transition: opacity 0.5s;
        }
        .porfolio_img{
            height: auto;
            max-width: 100%;
            border-radius: 5px;
        }
        
        &.full_screen{
            position: fixed;
            display: flex;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            height: 100vh;
            width: 100vw;
            padding: 50px;
            border-radius: 0;
            z-index: 999999;
            background-image: $dark_gradient;

            .portfolio_img_control{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                .porfolio_img{
                    height: auto;  
                    max-width: 100%;
                    border-radius: 5px;
                }
            }
            &.mobile{
                @media all and (orientation: portrait){
                    transform: rotate(-90deg);
                    transform-origin: left top;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    top: 100%;
                    left: 0;

                    .porfolio_img{
                        width: auto;  
                        max-height: 100%;
                        margin: auto;
                    }
                  }
            }
        }
    }

    &:hover, &:focus{
        .portfolio_img_control{
            opacity: 60%;
            z-index: 99;
            transition: 0.5s;

            .control_button{
                @include flex(row, center, center);
                height: 50px;
                width: 50px;
            }
        }
    }
}