/* -------------------------Reset------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------Base------------------------- */
body{
    background-color: #CB7920;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    color: #231F20;
    font-family: 'Roboto', sans-serif;
}

/* -------------------------Header------------------------- */
header{
    height: 100px;
    width: 100%;
    background: #231F20;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px;
    color: white;
}

nav ul{
    display: flex;
}
    ul li{
        margin: 0 20px;
        list-style: none;
    }

        li a{
            color: inherit;
            text-decoration: none;
        }
            li a:hover{
                opacity: 60%;
            }
            li a:active{
                opacity: 30%;
            }

/* -------------------------Main------------------------- */
main{
    height: 100%;
    width: 100%;
}

/* -------------------------Index------------------------- */
#voegToeBar{
    height: 100px;
    width: 900px;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
    #voegToeBar button{
        background-color: transparent;
        color: #231F20;
        font-size: 20px;
        border: solid 1px #231F20;
        border-radius: 10px;
        padding: 5px;
    }
        #voegToeBar button:hover{
            opacity: 60%;
        }
        #voegToeBar button:active{
        opacity: 30%;
        }

#taxiTable{
    color: white;
    background: #231F20;
    padding: 20px;
    border-radius: 15px;
    width: 900px; 
    margin: 0 auto; 
    border-spacing: 0mm;
}  
    #taxiTable th{
        text-align: start;
    }
            #taxiTable tbody tr:nth-child(odd){
                background-color: #6C6063;
                border-collapse: collapse;
            }
                #taxiTable tbody tr:hover{
                    opacity: 60%;
                }
                #taxiTable tbody tr:active{
                    opacity: 30%;
                }

        #taxiTable td, #taxiTable th{
            padding: 10px;
            width: calc(100%/5);
        }


#modal{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #231F20CC;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
    #modal.visible{
        display: flex;
    }

    #modal form{
        background-color: #CB7920;
        padding: 50px;
        border-radius: 15px;
        position: relative;
    }
        .flexItem{
            display: flex;
            flex-direction: column;
            margin: 20px 0;
        }
        #modal #licence{
            display: flex;
        }
            #licence input{
                width: 50px;
            }
            #licence span{
                margin: 0 10px;
            }
        #modal #submitBtn{
            background-color: #7EBDC2;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }
            #modal #submitBtn:hover{
                opacity: 60%;
            }
            #modal #submitBtn:active{
            opacity: 30%;
            }
        #modal #closeBtn{
            position: absolute;
            top: 25px;
            right: 25px;
            background-color: transparent;
            color: white;
            background-color: #AD2831;
            border: none;
            border-radius: 5px;
            padding: 5px;
        }
            #modal #closeBtn:hover{
                opacity: 60%;
            }
            #modal #closeBtn:active{
                opacity: 30%;
            }

/* -------------------------Edit------------------------- */
#editForm{
    color: white;
    background: #231F20;
    padding: 20px;
    border-radius: 15px;
    width: 500px; 
    margin: 0 auto; 
    margin-top: 100px;
}
    #editForm .flexItem *{
        margin: 5px 0;
        max-width: 50%;
    }

    #updateBtn{
        margin-right: 20px;
        background-color: #7EBDC2;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
        #updateBtn:hover{
            opacity: 60%;
        }
        #updateBtn:active{
        opacity: 30%;
        }
    #deleteBtn{
        background-color: #AD2831;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
        #deleteBtn:hover{
            opacity: 60%;
        }
        #deleteBtn:active{
        opacity: 30%;
        }
    #fuelBtn{
        margin-top: 20px;
        display: block;
        width: 50%;
        background-color: #16302B;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
        #fuelBtn:hover{
            opacity: 60%;
        }
        #fuelBtn:active{
        opacity: 30%;
        }

