.article{
	@include flex(row, center, center);
    height: 100vh;
	padding-top: 110px;
	padding-bottom: 50px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;


	&:first-child{
		background-image: url('../../../assets/ghost/ghost.svg');
		background-repeat: no-repeat;
		background-size: 30vw;
		background-position: center center;
		padding-top: 210px;

		@media all and (orientation: portrait){
			background-size: 60vw;
			padding-top: 125px;
		}
	}

	&.selected{
		opacity: 1;
		transition: opacity 1s;
	}


	@media all and (orientation: portrait){
		padding-top: 65px;
	}
}




