.article{
	@include flex(row, center, center);
    height: 100vh;
	padding-top: 110px;
	padding-bottom: 50px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;


	&#article_1{
		padding-top: 210px;
		
		#home_logo{
			width: 500px;
			max-width: 70%;
		}
		@media all and (orientation: portrait){
			padding-top: 125px;
		}
	}

	&#article_2{
		@media all and (max-width: 1280px){
			justify-content: flex-start;
			margin-left: 5vw;
		}
	}

	&.selected{
		opacity: 1;
		transition: opacity 1s;
	}


	@media all and (orientation: portrait){
		padding-top: 65px;
	}
}




