*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, #558C8C, #172626);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px;
    font-size: 16px;
    position: relative;
}

#updateForm, #postForm, article{
    background-color: #EFF7FF;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
    #postForm{
        position: sticky;
        top: 50px;
        width: 500px;
        max-width: 40%;
        margin-right: 50px;
    }

    #postForm .formItem, #searchBar .formItem, #updateForm .formItem{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    #postForm .formItem.dateItem{
        flex-direction: row;
        align-items: flex-end;
    }

    .dateItem #dateP{
        margin-left: 5px;
    }

    .formItem *{
        margin: 5px 0;
    }

    .formItem.date *{
        margin: 5px;
    }

    .formItem .message{
        resize: none;
    }

    #postBtn, #updateBtn{
        display: block;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin: auto;
        color: #EFF7FF;
        background-color: #558C8C;
    }
        #postBtn:hover, #updateBtn:hover{
            background-color: #558C8CCC;
        }
        #postBtn:active, #updateBtn:active{
            background-color: #558C8C66;
        }

#modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #000C;
}
    #modal.visible{
        display: flex;
        opacity: 1;
    }

#updateForm{
    position: relative;
    width: 500px;
    height: 500px;
}

#searchBar{
    margin: 15px;
}

input{
    font-size: inherit;
}

article{
    width: 1000px;
    max-width: 60%;
}

h1{
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0;
    text-align: center;
}

article .post{
    position: relative;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    width: 100%;
    border: solid 1px grey;
}

    .post h2{
        font-size: 18px;
        font-weight: bold;
    }
    .post p{
        margin: 25px 0;
        width: 100%;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }

    .post small{
        display: block;
        text-align: right;
    }

    .deleteBtn, #closeBtn{
        position: absolute;
        right: 20px;
        background-color: #82204A;
        padding: 5px;
        color: white;
        border: none;
        border-radius: 5px;
    }
        .deleteBtn:hover, #closeBtn:hover{
            background-color: #82204AAA;
        }
        .deleteBtn:active, #closeBtn:active{
            background-color: #82204A66;
        }


@media all and (max-width: 1000px) {
    body{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    article, #postForm{
        width: 100%;
        max-width: 100%;
    }

    #postForm{
        position: relative;
        top: 0;
        margin-bottom: 20px;
        margin-right: 0;
    }
}