@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
html {
  width: 100vw;
  height: 100vh;
}
html #body {
  position: relative;
  padding-top: 110px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #7A001F;
}
html #body.home {
  padding-top: 210px;
}
@media all and (orientation: portrait) {
  html #body.home {
    padding-top: 125px;
  }
}
@media all and (orientation: portrait) {
  html #body {
    padding-top: 65px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
  margin: 60px 0;
  transition: background-color 1s;
}
.dot.dot_about_item, .dot.dot_portfolio_item {
  background-color: #7180B9;
  width: 15px;
  height: 15px;
  margin: 0 30px;
}
@media all and (orientation: portrait) {
  .dot.dot_about_item, .dot.dot_portfolio_item {
    width: 10px;
    height: 10px;
    margin: 0 15px;
  }
}
.dot:hover, .dot:focus {
  opacity: 60%;
}
.dot:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}
.dot:active {
  opacity: 20%;
}
.dot.selected {
  background-color: #7A001F;
  transition: background-color 1s;
}
@media all and (orientation: portrait) {
  .dot {
    width: 15px;
    height: 15px;
    margin: 45px 0;
  }
}

.skill_container .bar {
  width: 300px;
  max-width: 90%;
  height: 20px;
  border-radius: 10px;
  background: #7180B9;
  overflow: hidden;
  border: solid 1px #7180B9;
}
.skill_container .bar .innerBar {
  width: 0px;
  height: 100%;
  background-image: linear-gradient(to right, #7A001F, #000);
  transition: 1s;
}
@media all and (orientation: portrait) {
  .skill_container .bar {
    height: 16px;
    width: calc(100% - 100px);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#social_media img {
  width: 200px;
  height: 200px;
  margin: 0 20px;
}
#social_media img:hover, #social_media img:focus {
  opacity: 60%;
}
#social_media img:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}
@media all and (orientation: portrait) {
  #social_media img {
    width: 100px;
    height: 100px;
  }
}

.use_portrait {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  z-index: 999999;
  background-color: #7180B9;
}
.use_portrait .use_portrait_img {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  height: 100%;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
  padding-bottom: 50px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
}
.article:first-child {
  background-image: url("../../../assets/ghost/ghost.svg");
  background-repeat: no-repeat;
  background-size: 30vw;
  background-position: center center;
  height: calc(100vh - 210px);
}
@media all and (orientation: portrait) {
  .article:first-child {
    background-size: 60vw;
    height: calc(100vh - 125px);
  }
}
.article.selected {
  opacity: 1;
  transition: opacity 1s;
}
@media all and (orientation: portrait) {
  .article {
    height: calc(100vh - 60px);
  }
}

#aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 30px;
  height: 100vh;
  width: 20px;
  padding-top: 110px;
  z-index: 999999;
  transition: 1s;
}
#aside.home {
  padding-top: 210px;
  transition: 1s;
}
@media all and (orientation: portrait) {
  #aside.home {
    padding-top: 125px;
  }
}
@media all and (orientation: portrait) {
  #aside {
    padding-top: 65px;
  }
}
@media all and (max-width: 1280px) {
  #aside {
    right: calc(2.5% - 10px);
  }
}

#about_aside, #portfolio_aside {
  position: absolute;
  top: unset;
  bottom: 20px;
  height: 100%;
  width: 100%;
  height: 20px;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #000, #000F3D);
  z-index: 999999;
}
#header #head_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}
#header #head_header.home {
  height: 100px;
  transition: 0.5s;
}
@media all and (orientation: portrait) {
  #header #head_header.home {
    height: 60px;
  }
}
#header #head_header #logo {
  height: 50px;
}
@media all and (orientation: portrait) {
  #header #head_header #logo {
    height: 30px;
  }
}

#main {
  height: calc(100vh - 110px);
  scroll-behavior: smooth;
  overflow: hidden;
}
#main.home {
  height: calc(100vh - 210px);
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.header_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 90%;
}
.header_nav ul li {
  color: #7180B9;
  font-weight: 400;
  transition: 1s;
}
.header_nav ul li:hover, .header_nav ul li:focus {
  opacity: 60%;
}
.header_nav ul li:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}
.header_nav ul li:active {
  opacity: 20%;
}
.header_nav ul li.selected {
  color: #7A001F;
  transition: 1s;
}
.header_nav#header_nav {
  height: 110px;
  background-color: #000000;
}
.header_nav#header_nav ul {
  width: 1280px;
  margin: 0 auto;
}
.header_nav#header_nav ul li {
  margin: 0 20px;
  font-size: 18px;
}
@media all and (orientation: portrait) {
  .header_nav#header_nav ul li {
    margin: 0 10px;
  }
}
@media all and (orientation: portrait) {
  .header_nav#header_nav {
    height: 65px;
    background-color: #7180B9;
    transition: 0.5s;
  }
  .header_nav#header_nav.home {
    background-color: #000000;
    transition: 0.5s;
  }
  .header_nav#header_nav.home ul li {
    font-size: 16px;
  }
}
.header_nav#about_header_nav ul, .header_nav#portfolio_header_nav ul {
  margin: 20px auto;
}
.header_nav#about_header_nav ul li, .header_nav#portfolio_header_nav ul li {
  margin: 0 10px;
  font-size: 16px;
}

#aside_nav {
  margin: auto 0;
}

#about_aside_nav, #portfolio_aside_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
}
#footer #copyright {
  color: #7A001F;
  font-size: 18px;
  font-weight: 400;
}

#about_container, #portfolio_container {
  background-image: linear-gradient(to bottom, #000, #000F3D);
  position: relative;
  width: 750px;
  max-width: 90%;
  height: 550px;
  max-height: 95%;
  border-radius: 5px;
  overflow: hidden;
}
#about_container #about_content, #about_container #portfolio_content, #portfolio_container #about_content, #portfolio_container #portfolio_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}
#about_container #about_content .about_content_container, #about_container #about_content .portfolio_content_container, #about_container #portfolio_content .about_content_container, #about_container #portfolio_content .portfolio_content_container, #portfolio_container #about_content .about_content_container, #portfolio_container #about_content .portfolio_content_container, #portfolio_container #portfolio_content .about_content_container, #portfolio_container #portfolio_content .portfolio_content_container {
  width: 100%;
}
#about_container #about_content .about_content_container h2, #about_container #about_content .portfolio_content_container h2, #about_container #portfolio_content .about_content_container h2, #about_container #portfolio_content .portfolio_content_container h2, #portfolio_container #about_content .about_content_container h2, #portfolio_container #about_content .portfolio_content_container h2, #portfolio_container #portfolio_content .about_content_container h2, #portfolio_container #portfolio_content .portfolio_content_container h2 {
  color: #7A001F;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}
@media all and (orientation: portrait) {
  #about_container #about_content .about_content_container h2, #about_container #about_content .portfolio_content_container h2, #about_container #portfolio_content .about_content_container h2, #about_container #portfolio_content .portfolio_content_container h2, #portfolio_container #about_content .about_content_container h2, #portfolio_container #about_content .portfolio_content_container h2, #portfolio_container #portfolio_content .about_content_container h2, #portfolio_container #portfolio_content .portfolio_content_container h2 {
    margin-bottom: 0;
  }
}
#about_container #about_content .about_content_container .flex_column_div, #about_container #about_content .portfolio_content_container .flex_column_div, #about_container #portfolio_content .about_content_container .flex_column_div, #about_container #portfolio_content .portfolio_content_container .flex_column_div, #portfolio_container #about_content .about_content_container .flex_column_div, #portfolio_container #about_content .portfolio_content_container .flex_column_div, #portfolio_container #portfolio_content .about_content_container .flex_column_div, #portfolio_container #portfolio_content .portfolio_content_container .flex_column_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 25px;
}
#about_container #about_content .about_content_container .flex_column_div .flex_row_div, #about_container #about_content .portfolio_content_container .flex_column_div .flex_row_div, #about_container #portfolio_content .about_content_container .flex_column_div .flex_row_div, #about_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div, #portfolio_container #about_content .about_content_container .flex_column_div .flex_row_div, #portfolio_container #about_content .portfolio_content_container .flex_column_div .flex_row_div, #portfolio_container #portfolio_content .about_content_container .flex_column_div .flex_row_div, #portfolio_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  max-width: 100%;
  margin-bottom: 5px;
}
#about_container #about_content .about_content_container .flex_column_div .flex_row_div .text, #about_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .text, #about_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .text, #about_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .text, #portfolio_container #about_content .about_content_container .flex_column_div .flex_row_div .text, #portfolio_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .text, #portfolio_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .text, #portfolio_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .text {
  font-size: 16px;
  color: #7180B9;
  transition: 1s;
}
#about_container #about_content .about_content_container .flex_column_div .flex_row_div .text.skills_text, #about_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .text.skills_text, #about_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .text.skills_text, #about_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .text.skills_text, #portfolio_container #about_content .about_content_container .flex_column_div .flex_row_div .text.skills_text, #portfolio_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .text.skills_text, #portfolio_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .text.skills_text, #portfolio_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .text.skills_text {
  width: 100px;
}
#about_container #about_content .about_content_container .flex_column_div .flex_row_div .text.study_text, #about_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .text.study_text, #about_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .text.study_text, #about_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .text.study_text, #portfolio_container #about_content .about_content_container .flex_column_div .flex_row_div .text.study_text, #portfolio_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .text.study_text, #portfolio_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .text.study_text, #portfolio_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .text.study_text {
  color: #000F3D;
  transition: 1s;
}
#about_container #about_content .about_content_container .flex_column_div .flex_row_div .bullet, #about_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .bullet, #about_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .bullet, #about_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .bullet, #portfolio_container #about_content .about_content_container .flex_column_div .flex_row_div .bullet, #portfolio_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .bullet, #portfolio_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .bullet, #portfolio_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .bullet {
  margin: 0 5px;
  color: #7A001F;
}
#about_container #about_content .about_content_container .flex_column_div .flex_row_div .bullet:last-child, #about_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .bullet:last-child, #about_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .bullet:last-child, #about_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .bullet:last-child, #portfolio_container #about_content .about_content_container .flex_column_div .flex_row_div .bullet:last-child, #portfolio_container #about_content .portfolio_content_container .flex_column_div .flex_row_div .bullet:last-child, #portfolio_container #portfolio_content .about_content_container .flex_column_div .flex_row_div .bullet:last-child, #portfolio_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div .bullet:last-child {
  display: none;
}
#about_container #about_content .about_content_container .flex_column_div .flex_row_div:last-child, #about_container #about_content .portfolio_content_container .flex_column_div .flex_row_div:last-child, #about_container #portfolio_content .about_content_container .flex_column_div .flex_row_div:last-child, #about_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div:last-child, #portfolio_container #about_content .about_content_container .flex_column_div .flex_row_div:last-child, #portfolio_container #about_content .portfolio_content_container .flex_column_div .flex_row_div:last-child, #portfolio_container #portfolio_content .about_content_container .flex_column_div .flex_row_div:last-child, #portfolio_container #portfolio_content .portfolio_content_container .flex_column_div .flex_row_div:last-child {
  margin-bottom: 0;
}
#about_container #about_content .about_content_container .flex_column_div:last-child, #about_container #about_content .portfolio_content_container .flex_column_div:last-child, #about_container #portfolio_content .about_content_container .flex_column_div:last-child, #about_container #portfolio_content .portfolio_content_container .flex_column_div:last-child, #portfolio_container #about_content .about_content_container .flex_column_div:last-child, #portfolio_container #about_content .portfolio_content_container .flex_column_div:last-child, #portfolio_container #portfolio_content .about_content_container .flex_column_div:last-child, #portfolio_container #portfolio_content .portfolio_content_container .flex_column_div:last-child {
  margin-bottom: 0;
}

.porftolio_div .portfolio_img_div {
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.porftolio_div .portfolio_img_div .portfolio_img_control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #7180B9;
  opacity: 60%;
  z-index: -99;
}
.porftolio_div .portfolio_img_div .porfolio_img {
  height: 100%;
  width: 100%;
}
.porftolio_div:hover .portfolio_img_control {
  z-index: 99;
}
.porftolio_div:hover .portfolio_img_control .control_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}/*# sourceMappingURL=main.css.map */