*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #00120B, #99FFD8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

#calculator{
    height: 650px;
    width: 400px;
    max-width: 90%;
    max-height: 90%;
    background-color: #869b93;
    border-radius: 10px;    
}

#calcDisplay{
    width: 100%;
    height: 150px;
    background-color: black;
    color: #D8E4FF;
    display: flex;
    flex-direction: column;
}
    #calcDisplay div{
        padding: 15px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

#calculator article{
    height: 500px;
    max-height: 100%;
}

.row{
    display: flex;
    height: calc(100%/5);
}

.row button{
    height: 100%;
    width: calc(100%/4);
    background-color: #D8E4FF;
    border: solid 2px #3D0814;
    border-collapse: collapse;
    font-size: 20px;
}
    .row button:hover{
        background-color: #5A0C1E;
        color: #D8E4FF;
        transition: 0.5s;
    }
    .row button:active{
        background-color: #5B9E84;
        transition: 0;
    }

.row button.largeButton{
    width: calc(100%/2); 
}
    .row button.ac, .row button.ac:hover{
        background-color: #8D2001;
    }

    .row button.eq, .row button.eq:hover{
        background-color: #285EA4;
    }


