html{
  height: 100%;
  width: 100%;
  
  #body{
    position: relative;
    padding-top: 110px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: $light_gradient;

    &.home{
      padding-top: 210px;

      @media all and (orientation: portrait){
        padding-top: 125px;
      }
    }

    @media all and (orientation: portrait){
      padding-top: 65px;
    }
  }     
}
