.article {
	opacity: 0;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: opacity 1s ease;	
}

article.article{
	width: 60vw;
	min-height: 200px;
	background-color: #000C;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 99;
	padding: 50px 0;

	@media all and (orientation: portrait) {
		width: 80vw;
		min-height: 178px;
		padding: 36px 0;
	}

	h1{
    color: white;
    margin: 0 auto 50px auto;
		font-size: 1.8em;

		&.backHeading:before{
			display: inline-block;
			content: " ";
			border-left: solid #007A1F;
			border-bottom: solid #007A1F;
			transform: rotate(45deg);
			height: 15px;
			width: 15px;

			@media all and (orientation: portrait) {
				height: 12px;
				width: 12px;
			}
		}

		&.backHeading:hover{
			animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
		}
	}

	.article_item{
		@include flex(column, flex-start, flex-start, nowrap);
		width: 100%;
		margin-bottom: 50px;

		@media all and (orientation: portrait) {
			margin-bottom: 25px;
		}

		label{
			margin: 0 0 10px 50px;
			font-size: 1.2em;

			@media all and (orientation: portrait) {
				margin: 0 0 5px 25px;
			}

			&.red{
				color: #7A001F;
			}

			&.green{
				color: #007A1F;
			}
		}

		input{
			margin: 0 0 10px 50px;
			background-color: transparent;
			border: none;
			color: inherit;
			width: 100%;

			@media all and (orientation: portrait) {
				margin: 0 0 5px 25px;
			}
		}

		a{
			margin: 0 0 10px 50px;
			color: inherit;

			@media all and (orientation: portrait) {
				margin: 0 0 5px 25px;
			}

			&:hover{
				animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
			}
			&:after{
				display: inline-block;
				content: " ";
				transform: rotate(225deg);
				height: 9px;
				width: 9px;

				@media all and (orientation: portrait) {
					height: 6px;
					width: 6px;
				}
			}
			&.green:after{
				border-left: solid #007A1F;
				border-bottom: solid #007A1F;
			}
			&.red:after{
				border-left: solid #7A001F;
				border-bottom: solid #7A001F;
			}
		}
	}
}

.active .article {
	transition: opacity 1s ease;	
	opacity: 1;
}
