.nav {
	height: 300px;
	width: 20vw;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 50px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	z-index: 1;

	@media all and (orientation: portrait) {
		height: 250px;
		width: 10vw;
		left: 16.5px;
	}

	.nav_point {
		position: relative;
		height: 50px;
		max-height: calc(100vh/4);
		width: 6px;
		border-radius: 15px;
		background-color: #FFFFFF;
		color: #FFFFFF;
		transition: background-color 0.6s ease;

		@media all and (orientation: portrait) {
			height: 36px;
			width: 4px;
		}

		.nav_label{
			color: transparent;
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 25px;
			margin: auto;

			@media all and (orientation: portrait) {
				opacity: 0;
			}
		}

		&:before {
			content:"";
			height: 50px;
			width: 6px;
			display: block;
			position: absolute;
			right: 0;
		}

		&:after {
			content:"";
			height: 50px;
			width: 6px;
			display: block;
			position: absolute;
			left: 0;
		}

		&:hover:nth-child(1) {
			background: #000F3D;
		}
		&:hover:nth-child(2) {
			background: #3D000F;
		}
		&:hover:nth-child(3) {
			background: #0F3D00;
		}
		&:hover:nth-child(4) {
			background: #3D0F00;
		}

		&:hover .nav_label, .nav_label:hover{
			color: white;
		}
	}
	.active_point:nth-child(1) {
		background: #001F7A;
	}
	.active_point:nth-child(2) {
		background: #7A001F;
	}
	.active_point:nth-child(3) {
		background: #1F7A00;
	}
	.active_point:nth-child(4) {
		background: #7A1F00;
	}
	
	.active_point .nav_label{
		font-size: 1.3em;
		font-weight: 500;
		color: white;
	}
}



