.personal_container{
    position: relative;

    .image_container{
         position: absolute;
         top: 0px;
         right: 0;
         padding: 5px;
         height: 200px;
         width: 200px;
         background-color: $light_blue;
         border-radius: 50%;
         overflow: hidden;

         .image_div{
            @include flex(row, center, center);
            background-image: linear-gradient(to bottom, $black, $red);
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: none;
            overflow: hidden;

            .image_profile{
                width: 100%;
            }
        }

        @media all and (orientation: portrait){
            height: 100px;
            width: 100px;
            padding: 2px;
        }
    }
 }