.use_portrait{
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 50px;
    z-index: 999999;
    background-image: $light_gradient;

    .use_portrait_img{
        animation: $shake;
        height: 100%;
    }
}